<div class="app-page-title">
  <div class="page-title-wrapper">
   
    <div class="page-title-actions">

      <button type="button" class="btn-shadow d-inline-flex align-items-center btn btn-success" (click)=" openCentred(content)">
        <fa class="mr-2" name="plus"></fa>
        Ajouter Role
      </button>
      <ng-template #content let-c="close" let-d="dismiss">
        <form  [formGroup]="competence.RoleModel" class="form" role="form" class="mb-4" autocomplete="off" >
        <div class="modal-header">
          <h4 class="modal-title"></h4> <!--Demo Basic-->
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    
        <div class="card-body">
          <div class="position-relative row form-group">
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label" ></label>
              <div class="page-title-actions">
              <div class="col-lg-9">
                <input class="form-control" type="text" formControlName="Role" name="Role">
               
         
                
               
              </div>
            </div>
            <div  class="form-group row">
            <button type="submit" class="btn btn-primary" (click)="RegisterRole()" >Ajouter</button>
          </div>
        </div>
        </div>
        </div>
      </form>
    

 <!--ici la sous formulaire de role de la boutton edit role-->
      
          <div class="main-card mb-3 card">
            <div class="card-body">
              <div>
                <div class="table-responsive">
                <table>
 
                 <thead>
                   <tr>
                     <th class="text-center"><strong>Role</strong> </th>
                     <th class="text-center"></th>
                 
                   </tr>
                   </thead>
                   <tbody>
                     <!--*ngFor="let label of competence.LabeList" class="text-center" [hidden]="domaine.domaineId!=label.domaineId "-->
                     <tr *ngFor="let role of notification.roles; let i = index;let j = index"><!--*ngFor="let role of notification.role "-->
                   
                       <td class="text-center" >{{role.name}} </td>
                       <td class="text-center">
                         <!--  <div class="d-block text-center card-footer">--> 
                          <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger" (click)="DeleteRole(role.id)">
                            <i class="pe-7s-trash btn-icon-wrapper"> </i>
                          </button>
                           <!-- </div> -->
                          </td>
                       </tr>
                       </tbody>
                </table>
              </div>
                          
              </div>
            </div>
          </div>

      
        <div class="modal-footer" class="text-center">
        
        <!--  <button type="button" class="btn btn-primary" type="submit"  (click)="c('Close click')"  >Modifier</button>-->
         <!--(click)="(click)="onSubmit(form,domaine.domaineId)""-->
        </div>
      </ng-template>
    </div>
  </div>
</div>


<div class="main-card mb-3 card">
  <div class="card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal"></div>
  </div>
  <div class="table-responsive">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
      <tr>
        <th class="text-center">Image</th>
        <th class="text-center">Name</th>
        <th class="text-center">Email</th>
        <th class="text-center">Action</th>
  
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let item of notification.UsersFalse " > 
        <td class="text-center" style="width: 80px;">
          <img width="40" class="rounded-circle" src="./assets/images/avatars/2.jpg" alt="">
        </td>
        <td class="text-center">{{item.userName}}</td>
        <td class="text-center">{{item.email}}</td>
     
        <td class="text-center">
          <div role="group" class="btn-group-sm btn-group">
           <!-- <button type="button" class="btn-shadow btn btn-primary">Edit role</button>-->
           <div class="card-body" class="text-center">
            <div role="group" class="btn-group-sm btn-group">
            <span *ngIf="closeResult" class="kt-section__sub">
              <pre>{{closeResult}}</pre>
            </span>
            <div class="divider"></div>
            <ng-template #content let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form [formGroup]="notification.formModel" autocomplete="off" >
              <div class="modal-body">

       <!--ici la sous formulaire de role de la boutton edit role-->

                <div class="main-card mb-3 card">
                  <div class="card-body">
                    <div>
                      <div class="table-responsive">
                      <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
                      <thead>
                        <tr>
                          <th class="text-center">Avatar</th>
                          <th class="text-center">Name</th>
                          <th class="text-center">Email</th>
                      
                        </tr>
                        </thead>

                       <tbody>
                        <tr  > 
                          <td class="text-center" style="width: 80px;">
                            <img width="40" class="rounded-circle" src="./assets/images/avatars/2.jpg" alt="">
                          </td>
                          <td class="text-center">{{item.userName}}</td>
                          <td class="text-center">{{item.email}}</td>

                        </tr>
                       </tbody>
                      </table>
                    </div>
                   
                      <div class="divider"></div>
                      
                     
                     <!--
                       <thead>
                        <tr>
                          <th class="text-center">Role</th>
                        </tr>
                        </thead>
                        <div  *ngFor="let role of notification.roles ">
                          <div class="form-group required" >
                            <div class="position-relative form-check form-check-inline">
                              <label class="form-check-label">
                             <input type="checkbox" value="{{role.name}}" (change)="RoleChange($event)"> {{role.name}}</label>
                              </div>
                            </div>
                          </div>
                     -->   
                        



                          <table>

                            <thead>
                              <tr>
                                <th class="text-center"> Attribuer un role</th>
                                <th></th>
                              </tr>
                              </thead>
                           <tbody>
                             <tr *ngFor="let role of notification.roles; let i = index;let j = index"> 
                               <td >
                                 <div  >
                                   <div class="form-group required" >
                                     <div class="position-relative form-check form-check-inline">
                                       <label class="form-check-label">
                                       {{role.name}}</label>
                                       </div>
                                     </div>
                                   </div>
                               </td>
                             <td >
                            
                               <button (click)="i=!j" (click)="RegisterUserRole(item.id, role)">
                                 <i [ngClass]="i ? ' fa fa-times': 'fa fa-check'" ></i>
                               </button>
                              
                             </td>
                             </tr>
                           </tbody>
                         
                           
                           </table>
                         








                      
                     
                      
                    </div>
                  </div>
                </div>

              </div>
              <div class="modal-footer" class="text-center">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Fermer</button>
            <!--   <button type="submit" class="btn btn-primary" (click)="c('Close click')" >Sauvgarder</button>(click)="OnRegisterRole(item)"-->  
              </div>
            </form>
            </ng-template>
  
  
  
            <td class="text-center">
            <div role="group" class="btn-group-sm btn-group">
            <button class="btn btn-primary" (click)="open(content)">Edit Role</button>
          </div>
            </td>
            </div>
        </div>
          
          
          
          
          </div>

        </td>
     <!--   <td class="text-center">
          <div role="group" class="btn-group-sm btn-group">
            <button type="submit" class="btn-shadow btn btn-primary">Submit</button>
          </div>
        </td>-->
      </tr>
      </tbody>
    </table>
  </div>
  <div class="d-block p-4 text-center card-footer">
    <button class="btn-pill btn-shadow btn-wide fsize-1 btn btn-dark btn-lg">
      <span class="mr-2 opacity-7">
          <i class="fa fa-cog fa-spin"></i>
      </span>
      <span class="mr-1">View Complete Report</span>
    </button>
  </div>
</div>


<!DOCTYPE html>
<html>
<head>

<style>
.fa {
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  color: green;
}



.fa:hover {
  color: green;
}
</style>
</head>
<body>





</body>
</html>
