<html lang="en">
<style>
  header {
  background-color: rgb(248, 248, 248);
  padding: 30px;
  text-align: center;
  font-size: 50px;
  color: blue;
}

</style>
<header> Fiche D'Evaluation Fourniseurs</header>
</html>
<p>


</p>
<p>


</p>
<div class="row" class="text-center" >
  <form [formGroup]="evaluation.EvaluationFournisseur" class="mb-4" autocomplete="off"  >
  <div class="col-md-6"  class="text-center">


    <h6 class="mb-3"  class="text-center">
      FOURNISEUR
     </h6>
    

    <div class="divider"></div>

    <div class="main-card mb-3 card">
     <div class="card-body"><h5 class="card-title"></h5>
     
         <div class="position-relative row form-group">
   
           <label for="examplePassword" class="col-sm-2 col-form-label">Nom Fournisseur: </label>
         
             <div class="position-relative form-group">
               <input formControlName="Nom_Fournisseur" name="Nom_Fournisseur" type="text" class="form-control" style="width: 200px;">
             </div>
          
           <label for="examplePassword" class="col-sm-2 col-form-label" >Catégorie : </label>
           <div class="position-relative form-group">
             <input  formControlName="Categorie" name="Categorie" type="text" class="form-control" style="width: 200px;">
           </div>
           
         </div>
        
       
   
      
         <div class="position-relative row form-group">
   
           <label for="examplePassword" class="col-sm-2 col-form-label">Date D'evaluation : </label>
         
             <div class="position-relative form-group">
               <input formControlName="Date_Evaluation" name="Date_Evaluation" type="date" class="form-control" style="width: 200px;">
             </div>
          
           <label for="examplePassword" class="col-sm-2 col-form-label" >Semestre : </label>
           <div class="position-relative form-group">
             <input formControlName="Semestre" name="Semestre" type="string" class="form-control" style="width: 200px;">
           </div>
           
         </div>
         <div class="position-relative row form-group"><label for="exampleFile"
              class="col-sm-2 col-form-label"></label>
          
         </div>
      
     </div>
   </div>
   










<h6 class="mb-3"  class="text-center">
  1- QUALITE et PRIX
 </h6>
 <div class="divider"></div>

 <div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title"></h5>
  
      <div class="position-relative row form-group">
      
        <label for="examplePassword" class="col-sm-2 col-form-label">Conformité de la marchandise ou service</label>
      
        <label class="form-check-label">   </label>
        <div class="position-relative form-group">

          <select  class="form-control" style="width: 200px;" formControlName="Conformite" name="Conformite" > <!-- formControlName="type_de_formation" name="type_de_formation"-->
                          <option [value]=3> Très Satisfaisant</option>
                          <option [value]=2>Satisfaisant</option>
                          <option [value]=1> Acceptable   </option>
                          <option [value]=0>Insatisfaisant</option>
                          <option [value]=0>Non Applicable</option>
              
                          </select> 
      </div> 
      <label class="form-check-label" style="width: 100px;" >   </label>
        <label for="examplePassword" class="col-sm-2 col-form-label" >Qualité par rapport au prix </label>
        <label class="form-check-label">   </label>
        <div class="position-relative form-group" >

          <select  class="form-control"  style="width: 200px;" formControlName="Qualite" name="Qualité"> <!-- formControlName="type_de_formation" name="type_de_formation"-->
        
            <option [value]=3> Très Satisfaisant</option>
            <option [value]=2>Satisfaisant</option>
            <option [value]=1> Acceptable   </option>
            <option [value]=0>Insatisfaisant</option>
            <option [value]=0>Non Applicable</option>
              
                          </select> 
      </div> 
        
      </div>
     
    

   
      <div class="position-relative row form-group" style="text-align: center;">
        <label class="form-check-label" style="width: 200px;" >   </label>
        <label for="examplePassword" class="col-sm-2 col-form-label">Certification du fournisseur </label>
      
        <label class="form-check-label">   </label>
        <div class="position-relative form-group">

          <select  class="form-control" style="width: 200px;" formControlName="Certification" name="Certification"> <!-- formControlName="type_de_formation" name="type_de_formation"-->
            <option [value]=3> Très Satisfaisant</option>
            <option [value]=2>Satisfaisant</option>
            <option [value]=1> Acceptable   </option>
            <option [value]=0>Insatisfaisant</option>
            <option [value]=0>Non Applicable</option>
              
                          </select> 
      </div> 
       
       
        
      </div>
      <div class="position-relative row form-group"><label for="exampleFile"
           class="col-sm-2 col-form-label"></label>
       
      </div>
   
  </div>
</div>





<h6 class="mb-3"  class="text-center">
  2- RELATIONS COMMERCIALES
 </h6>
 <div class="divider"></div>

 <div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title"></h5>
  
      <div class="position-relative row form-group">

        <label for="examplePassword" class="col-sm-2 col-form-label">Cohérence et exactitude de facturation</label>
      
        <label class="form-check-label">   </label>
        <div class="position-relative form-group">

          <select  class="form-control" formControlName="Coherence" name="Coherence" > <!-- formControlName="type_de_formation" name="type_de_formation"-->
            <option [value]=3> Très Satisfaisant</option>
                          <option [value]=2>Satisfaisant</option>
                          <option [value]=1> Acceptable   </option>
                          <option [value]=0>Insatisfaisant</option>
                          <option [value]=0>Non Applicable</option>
              
                          </select> 
      </div> 
      <label class="form-check-label" style="width: 100px;" >   </label>
        <label for="examplePassword" class="col-sm-2 col-form-label" >Conditions de paiement </label>
        <label class="form-check-label">   </label>
        <div class="position-relative form-group">

          <select  class="form-control"  formControlName="Conditions" name="Conditions"> <!-- formControlName="type_de_formation" name="type_de_formation"-->
            <option [value]=3> Très Satisfaisant</option>
            <option [value]=2>Satisfaisant</option>
            <option [value]=1> Acceptable   </option>
            <option [value]=0>Insatisfaisant</option>
            <option [value]=0>Non Applicable</option>
                          </select> 
      </div> 
        
      </div>
     
    

   
      <div class="position-relative row form-group">
        <label class="form-check-label" style="width: 200px;" >   </label>
        <label for="examplePassword" class="col-sm-2 col-form-label" >Politique garantie et SAV ( support, réparation)</label>
      
        <label class="form-check-label">   </label>
        <div class="position-relative form-group">

          <select  class="form-control"  style="width: 200px;"  formControlName="Politique" name="Politique"> <!-- formControlName="type_de_formation" name="type_de_formation"-->
            <option [value]=3> Très Satisfaisant</option>
            <option [value]=2>Satisfaisant</option>
            <option [value]=1> Acceptable   </option>
            <option [value]=0>Insatisfaisant</option>
            <option [value]=0>Non Applicable</option>
              
                          </select> 
      </div> 
       
       
        
      </div>
      <div class="position-relative row form-group"><label for="exampleFile"
           class="col-sm-2 col-form-label"></label>
       
      </div>
   
  </div>
</div>






<h6 class="mb-3"  class="text-center">
  3- ORGANISATION ET REACTIVITE
 </h6>
 <div class="divider"></div>

 <div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title"></h5>
  
      <div class="position-relative row form-group">

        <label for="examplePassword" class="col-sm-2 col-form-label">Respect du délai de livraison</label>
      
        <label class="form-check-label">   </label>
        <div class="position-relative form-group">

          <select  class="form-control"  formControlName="Respect_livraison" name="Respect_livraison"> <!-- formControlName="type_de_formation" name="type_de_formation"-->
            <option [value]=3> Très Satisfaisant</option>
                          <option [value]=2>Satisfaisant</option>
                          <option [value]=1> Acceptable   </option>
                          <option [value]=0>Insatisfaisant</option>
                          <option [value]=0>Non Applicable</option>
              
                          </select> 
      </div> 
      <label class="form-check-label" style="width: 100px;" >   </label>
        <label for="examplePassword" class="col-sm-2 col-form-label" >Respect de délai de réponse de la consultation </label>
        <label class="form-check-label">   </label>
        <div class="position-relative form-group">

          <select  class="form-control"  formControlName="Respect_consultation" name="Respect_consultation"> <!-- formControlName="type_de_formation" name="type_de_formation"-->
            <option [value]=3> Très Satisfaisant</option>
            <option [value]=2>Satisfaisant</option>
            <option [value]=1> Acceptable   </option>
            <option [value]=0>Insatisfaisant</option>
            <option [value]=0>Non Applicable</option>
              
                          </select> 
      </div> 
        
      </div>
     
    

   
     
      <div class="position-relative row form-group"><label for="exampleFile"
           class="col-sm-2 col-form-label"></label>
       
      </div>
   
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <form > <!--onSubmitParticipant()-->
    <div class="modal-header">
      <h4 class="modal-title"></h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="col-md-6">


        <!--style="width: 300px"-->
        

        <div class="card-body" >
<table class="align-middle text-truncate mb-0 table table-borderless table-hover">
  <tbody>
    <tr class="text-center"> - Inférieur à 12 : Non satisfait</tr>
    <tr class="text-center">- Entre 12 et 15 : Satisfait</tr>
    <tr class="text-center"> - Supérieur à 15 : Très satisfait</tr>
  </tbody>
  
 
</table> 
         <div class="divider"></div>
       <h6 >Totale evaluation égale  à {{total}} /39 </h6> <!-- {{formation.resultat}}-->



        </div>

      </div>


    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary"(click)="c('Close click')" >Fournisseur non retenu</button>
      <button type="submit" class="btn btn-primary"  (click)="FournisseurRetenu()" >Fournisseur retenu</button>
    </div>
  </form>
</ng-template>


<div class="modal-footer">
             
  <button type="button" class="btn btn-primary" (click)="open(content)" (click)="CalculerTotaleEvaluation()">Total Evaluation</button>
</div>
</div>
</form>
</div>